<style>
  .errors{
    color: red;
    border-color: red;
  }
</style>

<div class="content">

    <h1 style="text-align: center;font-weight: 900;">BRAND LIST</h1>

<!-- Button trigger modal -->
<button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong">
    ADD BRANDS
  </button>

  <span class="text-danger message"><%=locals.message%></span>
  <script>
    setTimeout(()=>{
      const message = document.querySelector('.message')
      message.style.display="none"
    },3000)
  </script>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Add Brand</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          
                
                  <form action="/admin/addBrand" method="post" id="brand-form">
                      <div class="form-group">
                        <label  for="forProductName" style="color: black;">Brand Name</label>  
                        <input type="text" class="form-control" id="" name="brandName" style="color: black;">
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 15rem;">Close</button>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                      </div>

                    </form> 

        </div>
      </div>
    </div>
  </div>



   
  <table class="table table-hover table-fixed mt-5" id="myTable">
    <thead>
        <tr>
          <th>Index</th>
          <th>BRAND NAME</th>
          <th>List or UnList</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i =0;i<brands.length;i++) { %>
        <tr>
        <td><%= i+1 %></td>
        <td><%=brands[i].brandName %></td>
        <td>
          <% if(brands[i].isList) {%>
            <a href="/admin/brandListorunlist/<%=brands[i]._id%>" class="btn btn-danger">Unlist</a>
            <% } else {%>
              <a href="/admin/brandListorunlist/<%=brands[i]._id%>" class="btn btn-success">List..</a>

           <% } %>
        </td>
        <td><a href="" class="btn btn-info" data-toggle="modal" data-target="#editmodal<%=brands[i]._id%>">Edit</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <% for(var i =0;i<brands.length;i++) { %>
      <!-- Modal -->
  <div class="modal fade" id="editmodal<%=brands[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">EDIT BRAND</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          
                
                  <form action="/admin/editbrand/<%=brands[i]._id%>" method="post" id="edit-brand-form">
                      <div class="form-group">
                        <label  for="forProductName" style="color: black;">Brand Name</label>  
                        <input type="text" class="form-control" id="" name="brandName" style="color: black;" value="<%=brands[i].brandName%>" required>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 15rem;">Cancel</button>
                        <button type="submit" class="btn btn-secondary">Edit</button>
                      </div>

                    </form> 

        </div>
      </div>
    </div>
  </div>

  <% } %>


   </div>


   <script>
    $(document).ready( function () {
      $('#myTable').DataTable();

      $('#edit-brand-form').validate({
        errorClass:'errors',
        rules:{
          brandName:{
            required:true,
            minlength:4
          }

        }

      })


      $('#brand-form').validate({
        errorClass:'errors',
        rules:{
          brandName:{
            required:true,
            minlength:4
          }

        }

      })

    } );
    
    </script>