<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
<style>
    .card {
        /* background-color: #fff; */
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }
    .l-bg-cherry {
        background: linear-gradient(to right, #493240, #f09) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }
    

    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }

    /* .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    } */
</style>
<div class="content">

    <section class="mt-5">
        <div class="col-md-12 ">
            <div class="row ">
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Completed Orders</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <%=locals.deliverdOrders%> 
                                    </h2>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <span>12.5%
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </div> -->
                            </div>
                            <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Total Customers</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <%=locals.totalCustomers%>
                                    </h2>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <span>9.23%
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </div> -->
                            </div>
                            <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large">
                                <i class="fas fa-ticket-alt"></i>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Total Products</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <%=locals.totalProducts%>
                                    </h2>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <span>10%
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </div> -->
                            </div>
                            <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6">
                  <div class="card l-bg-orange-dark">
                      <div class="card-statistic-3 p-4">
                          <div class="card-icon card-icon-large">
                              <i class="fas fa-dollar-sign"></i>
                          </div>
                          <div class="mb-4">
                              <h5 class="card-title mb-0">Total Revenue</h5>
                          </div>
                          <div class="row align-items-center mb-2 d-flex">
                              <div class="col-8">
                                  <h2 class="d-flex align-items-center mb-0">
                                      <%=locals.totalSale%>
                                  </h2>
                              </div>
                              <!-- <div class="col-4 text-right">
                                  <span>2.5%
                                      <i class="fa fa-arrow-up"></i>
                                  </span>
                              </div> -->
                          </div>
                          <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                              <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                          </div> -->
                      </div>
                  </div>
              </div>


                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Revenue Today</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <%=locals.todaysAmount%>
                                    </h2>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <span>2.5%
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </div> -->
                            </div>
                            <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6">
                  <div class="card l-bg-orange-dark">
                      <div class="card-statistic-3 p-4">
                          <div class="card-icon card-icon-large">
                              <i class="fas fa-dollar-sign"></i>
                          </div>
                          <div class="mb-4">
                              <h5 class="card-title mb-0">This week Revenue</h5>
                          </div>
                          <div class="row align-items-center mb-2 d-flex">
                              <div class="col-8">
                                  <h2 class="d-flex align-items-center mb-0">
                                      <%=locals.weekSale%>
                                  </h2>
                              </div>
                              <!-- <div class="col-4 text-right">
                                  <span>2.5%
                                      <i class="fa fa-arrow-up"></i>
                                  </span>
                              </div> -->
                          </div>
                          <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                              <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                          </div> -->
                      </div>
                  </div>
              </div>


              <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">This Month Revenue</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    <%=locals.monthlyAmount%>
                                </h2>
                            </div>
                            <!-- <div class="col-4 text-right">
                                <span>2.5%
                                    <i class="fa fa-arrow-up"></i>
                                </span>
                            </div> -->
                        </div>
                        <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                        </div> -->
                    </div>
                </div>
             </div>


             <div class="col-xl-3 col-lg-6">
              <div class="card l-bg-orange-dark">
                  <div class="card-statistic-3 p-4">
                      <div class="card-icon card-icon-large">
                          <i class="fas fa-dollar-sign"></i>
                      </div>
                      <div class="mb-4">
                          <h5 class="card-title mb-0">This Year  Revenue</h5>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">
                                  <%=locals.yearAmount%>
                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                              <span>2.5%
                                  <i class="fa fa-arrow-up"></i>
                              </span>
                          </div> -->
                      </div>
                      <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div> -->
                  </div>
              </div>
          </div>




            </div>
        </div>

    </section>


    <div class="row mt-2">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category">Total Shipments</h5>
                            <h2 class="card-title">Performance</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                    <input type="radio" name="options" checked="checked">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                                        <span class="d-block d-sm-none">
                                            <i class="tim-icons icon-single-02"></i>
                                        </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                        <input type="radio" class="d-none d-sm-none" name="options">
                                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                                            <span class="d-block d-sm-none">
                                                <i class="tim-icons icon-gift-2"></i>
                                            </span>
                                        </label>
                                        <label class="btn btn-sm btn-primary btn-simple" id="2">
                                            <input type="radio" class="d-none" name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                                                <span class="d-block d-sm-none">
                                                    <i class="tim-icons icon-tap-02"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="chartBig1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Total Shipments</h5>
                                <h3 class="card-title">
                                    <i class="tim-icons icon-bell-55 text-primary"></i>
                                    763,215</h3>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="chartLinePurple"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Daily Sales</h5>
                                <h3 class="card-title">
                                    <i class="tim-icons icon-delivery-fast text-info"></i>
                                    3,500€</h3>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="CountryChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Completed Tasks</h5>
                                <h3 class="card-title">
                                    <i class="tim-icons icon-send text-success"></i>
                                    12,100K</h3>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="chartLineGreen"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="card card-tasks">
                              <div class="card-header ">
                                <h6 class="title d-inline">Tasks(5)</h6>
                                <p class="card-category d-inline">today</p>
                                <div class="dropdown">
                                  <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Action</a>
                                    <a class="dropdown-item" href="#pablo">Another action</a>
                                    <a class="dropdown-item" href="#pablo">Something else</a>
                                  </div>
                                </div>
                              </div>
                              <div class="card-body ">
                                <div class="table-full-width table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">Update the Documentation</p>
                                          <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="" checked="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">GDPR Compliance</p>
                                          <p class="text-muted">The GDPR is a regulation that requires businesses to protect the personal data and privacy of Europe citizens for transactions that occur within EU member states.</p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">Solve the issues</p>
                                          <p class="text-muted">Fifty percent of all respondents said they would be more likely to shop at a company </p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">Release v2.0.0</p>
                                          <p class="text-muted">Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM</p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">Export the processed files</p>
                                          <p class="text-muted">The report also shows that consumers will not easily forgive a company once a breach exposing their personal data occurs. </p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="title">Arival at export process</p>
                                          <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                                        </td>
                                        <td class="td-actions text-right">
                                          <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                                            <i class="tim-icons icon-pencil"></i>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="card ">
                              <div class="card-header">
                                <h4 class="card-title"> Simple Table</h4>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table tablesorter " id="">
                                    <thead class=" text-primary">
                                      <tr>
                                        <th>
                                          Name
                                        </th>
                                        <th>
                                          Country
                                        </th>
                                        <th>
                                          City
                                        </th>
                                        <th class="text-center">
                                          Salary
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          Dakota Rice
                                        </td>
                                        <td>
                                          Niger
                                        </td>
                                        <td>
                                          Oud-Turnhout
                                        </td>
                                        <td class="text-center">
                                          $36,738
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Minerva Hooper
                                        </td>
                                        <td>
                                          Curaçao
                                        </td>
                                        <td>
                                          Sinaai-Waas
                                        </td>
                                        <td class="text-center">
                                          $23,789
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Sage Rodriguez
                                        </td>
                                        <td>
                                          Netherlands
                                        </td>
                                        <td>
                                          Baileux
                                        </td>
                                        <td class="text-center">
                                          $56,142
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Philip Chaney
                                        </td>
                                        <td>
                                          Korea, South
                                        </td>
                                        <td>
                                          Overland Park
                                        </td>
                                        <td class="text-center">
                                          $38,735
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Doris Greene
                                        </td>
                                        <td>
                                          Malawi
                                        </td>
                                        <td>
                                          Feldkirchen in Kärnten
                                        </td>
                                        <td class="text-center">
                                          $63,542
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Mason Porter
                                        </td>
                                        <td>
                                          Chile
                                        </td>
                                        <td>
                                          Gloucester
                                        </td>
                                        <td class="text-center">
                                          $78,615
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          Jon Porter
                                        </td>
                                        <td>
                                          Portugal
                                        </td>
                                        <td>
                                          Gloucester
                                        </td>
                                        <td class="text-center">
                                          $98,615
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Creative Tim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>2018 made with
                        <i class="tim-icons icon-heart-2"></i>
                        by
                        <a href="javascript:void(0)" target="_blank">Creative Tim</a>
                        for a better web.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
          <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
          </a>
          <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Background</li>
            <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger background-color">
                <div class="badge-colors text-center">
                  <span class="badge filter badge-primary active" data-color="primary"></span>
                  <span class="badge filter badge-info" data-color="blue"></span>
                  <span class="badge filter badge-success" data-color="green"></span>
                </div>
                <div class="clearfix"></div>
              </a>
            </li>
            <li class="adjustments-line text-center color-change">
              <span class="color-label">LIGHT MODE</span>
              <span class="badge light-badge mr-2"></span>
              <span class="badge dark-badge ml-2"></span>
              <span class="color-label">DARK MODE</span>
            </li>
            <li class="button-container">
              <a href="https://www.creative-tim.com/product/black-dashboard" target="_blank" class="btn btn-primary btn-block btn-round">Download Now</a>
              <a href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block btn-round">
                Documentation
              </a>
            </li>
            <li class="header-title">Thank you for 95 shares!</li>
            <li class="button-container text-center">
              <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
              <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
              <br>
              <br>
              <a class="github-button" href="https://github.com/creativetimofficial/black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
            </li>
          </ul>
        </div>
      </div>
       -->
