<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropOptions {
    border-radius: 6px;
    padding: 6px;
    width: 100px;
    background-color: #1e1e2f;
    border: solid 2px #525260;
    color: white;
    }
</style>

<div class="content">
<h1 style="text-align: center;font-weight: 900;">ORDERS</h1>
  <div style="margin-top: 6rem;">
    <table class="table table-hover table-fixed mt-5">
        <!-- Table head  -->
        <thead>
          <tr>
            <th>INDEX</th>
            <th>ORDER_ID</th>
            <!-- <th>PRODUCT NAME</th> -->
            <th>CUSTOMER_ID</th>
            <th>AMOUNT</th>
            <th>DATE & TIME</th>
            <th>PAYMENT METHOD</th>
            <th>PAYMENT STATUS</th>
            <!-- <th>ORD_STATUS</th> -->
            <th>ORDER STATUS</th>
            <th>DETAILS</th>
          </tr>
        </thead>
          
      
          <!-- Table body  -->
        <tbody>
         <%for(var i=0;i<orders.length;i++){%>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=orders[i]._id%></td>
            <td><%=orders[i].userId%></td>
            <td><%=orders[i].grandTotal%></td>
            <td><%=orders[i].date%></td>
            <td><%=orders[i].paymentMethod%></td>
            <td>
                <% if(orders[i].status == 'deliverd'){ %>
                    <b class="text-success">paid</b>
                <%} else {%>
                    <%=orders[i].paymentStatus%>
                <%}%>
            </td>
            <td>

                <% if(orders[i].status == 'placed'){ %>
                    <div class="dropdown">
                        <button class="dropOptions text-success"><%=orders[i].status%></button>
                        <div class="dropdown-content p-3 bg-white text-dark">
                            <a  class="text-dark " style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" onclick="changeStatus('<%=orders[i]._id%>','<%=orders[i].status%>')" >Shipped</a><hr style="border: solid 2px #1e1e2f ;">
                            <a href="#" class="text-dark " style="font-weight:500;margin-bottom: 1rem;" onclick="changeStatus('<%=orders[i]._id%>','cancelled')">Cancel</a>
                            <!-- <a href="#" class="text-dark " style="font-weight:500;margin-bottom: 1rem;">Option 3</a> -->
                        </div>
                    </div>
                <% }else if(orders[i].status == 'shipped'){%>

                    <div class="dropdown">
                        <button class="dropOptions text-success"><%=orders[i].status%></button>
                        <div class="dropdown-content p-3 bg-white text-dark">
                            <a class="text-dark " style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" onclick="changeStatus('<%=orders[i]._id%>','<%=orders[i].status%>')">deliverd</a><hr style="border: solid 2px #1e1e2f ;">
                            <a href="#" class="text-dark " style="font-weight:500;margin-bottom: 1rem;" onclick="changeStatus('<%=orders[i]._id%>','cancelled')">Cancel</a>
                            <!-- <a href="#" class="text-dark " style="font-weight:500;margin-bottom: 1rem;">Option 3</a> -->
                        </div>
                    </div>

                <% }else if(orders[i].status == 'deliverd'){%>
                    <button class="dropOptions text-white">deliverd</button>
                <% }else if(orders[i].status == 'returned'){%> 
                        <button class="dropOptions text-primary">returned</button>   
                <%} else {%>
                    <button class="dropOptions text-danger">cancelled</button>
                  <%}%>  

                

            </td>
            <td><a href="/admin/order-details/<%=orders[i]._id%>"><i class="bi bi-bag-plus"></i></a></td>
          </tr>
          <%}%>
        </tbody>
      </table>

    </div>  
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        const changeStatus =async (orderId,status)=>{
            console.log(orderId);
            console.log(status);

            if(status === 'placed'){
                status='shipped'
            }else if(status ==='shipped'){
                status='deliverd'
            }
            console.log(status);

           const res = await axios({
            method:'post',
            url:'/admin/change-order-status',
            data:{orderId,status}

           })
           if(res.data.status ='status changed'){
            location.reload()
           }


        }






    </script>















</div>