<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<div class="content">
  <div class="">
  <h5 class="text-danger message mt-3"><%=locals.message%></h5>
</div>

  <script>
    setTimeout(()=>{
      const message = document.querySelector('.message')
      message.style.display="none"
    },3000)
  </script>

<h1 style="text-align: center;font-weight: 900;">PRODUCT LIST</h1>

<div style="position: fixed;">
    <a href="/admin/add-product" class="btn submit">Add Product</a>
</div>
  <div style="margin-top: 6rem;">
    <table class="table table-hover table-fixed mt-5">
        <!-- Table head  -->
        <thead>
          <tr>
            <th>INDEX</th>
            <th>PRODUCT NAME</th>
            <th>PRO_ID</th>
            <th>CATEGORY</th>
            <th>BRAND</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <!-- <th>Image</th> -->
            <th>EDIT</th>
            <th>DELETE</th>
            <th>DETAILS</th>
          </tr>
        </thead>
          
      
          <!-- Table body  -->
        <tbody>
          <% for(var i =0;i<locals.products.length;i++){ %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= products[i].productName %></td>
            <td><%= products[i].productId%></td>
            <td><%= products[i]. categoryDetails[0].categoryName %></td>
            <td><%= products[i].brandDetails[0].brandName%></td>
            <td><%= products[i]. price %></td>
            <td><%= products[i]. quantity %></td>
            <!-- <td><img src="<%= products[i].images[0] %>" alt="" srcset="" style="width: 4rem;height: 3.5rem;"></td> -->



            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete product!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p style="color: black;">Are You Sure,Do You Want to Delete this Product ? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn " data-dismiss="modal" style="margin-left: 18rem;">No</button>
                    <a href="/admin/productStatus/<%=products[i]._id %>" class="btn" id="cnfrmBtn">yes</a>
                  </div>
                </div>
              </div>
            </div>


            <td><a href="/admin/editProduct/<%=products[i]._id %>" class="btn btn-info">EDIT</a></td>

            <td>

              <%if(products[i].isDelete) {%>
                <a href="" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" id="deletmodal">PUBLISH</a>
              <%}else{%>
                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" id="deletmodal">UNPUBLISH</a>
              <%}%>
             </td>

             <td> <a href="/admin/productdetails/<%=products[i]._id %>"><i class="bi bi-bag-plus"></i></a></td>
          </tr>
          <% } %>
        </tbody>
      </table>

    </div>
</div>

<!-- <script>
 

var deleteButton = document.getElementById("deletmodal");

// Add a click event listener to the button
 deleteButton.addEventListener("click", function() {
  // Get the value of the "data-my-attribute" attribute
  var myAttributeValue = deleteButton.getAttribute("href");
  
  // Get the element where you want to set the attribute value
  var setElement = document.getElementById("cnfrmBtn");
  
  // Set the value of the "data-my-attribute" attribute of the element
  myElement.setAttribute("href",setElement);
});

</script> -->