
<div class="content">
<section class="shop-details">
    <div class="mt-3"><a href="/admin/productList" class="btn">back</a></div>
    <div class="product__details__pic">
        <div class="container">
        <!-- <div style="text-align: center;"><h2 style="font-weight: 900;"><%=product[0].productName%></h2></div> -->
            <div class="row" style="margin-top: 3rem;">
                <div class="col-lg-6 col-md-9" style="text-align: center;">
                    <div class="tab-content" style="overflow: hidden;">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item" >
                                <img src="<%=product[0].images[0]%>" alt="" id="zoom_05" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-3" >
                    <h2 style="font-weight: 900;"><b><%=product[0].productName%></b></h2>
                    <h4>ProductId (sku): &nbsp;&nbsp;&nbsp;&nbsp;<%=product[0].productId%></h4>
                    <h4>Category: &nbsp;&nbsp;&nbsp;&nbsp;<%=product[0].categoryDetails[0].categoryName%></h4>
                    <h4>Brand: &nbsp;&nbsp;&nbsp;&nbsp;<%=product[0].brandDetails[0].brandName%></h4>
                    <h4>Price: &nbsp;&nbsp;&nbsp;&nbsp;<%=product[0].price%></h4>
                    <h4>Quantity: &nbsp;&nbsp;&nbsp;&nbsp;<%=product[0].quantity%></h4>
                    <h4><U>Available Colors</U></h4>
                    <h4><%=product[0].variants%></h4>
                </div>
            </div>

            <div class="col-lg-8">
                <h4> <u>Product Description</u></h5>
                <p><%= product[0].productDescription%>.</p>
                
            </div>
        </div>
    </div>
</section>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->
<script type="text/javascript" src="https://www.elevateweb.co.uk/wp-content/themes/radial/jquery.elevatezoom.min.js"></script>
<script type="text/javascript">

    $("#zoom_05").elevateZoom({
       
        zoomType: 'inner',
        cursor: 'crosshair',
        easing : true,
    });
    
</script>