     

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span style="font-weight: 900;">ADD ADDRESS</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  action="/add-Address" method="post" class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="first Name">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last Name">Last Name</label>
                    <input type="text" class="form-control" name="lastName" placeholder="last name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" name="address" placeholder="address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">District</label>
                        <select id="" class="form-control" name="district" required>
                          <option value="">...........................select district..........................</option>
                                <option >Calicut</option>
                                <option >Malappuaram</option>
                                <option >Palakkad</option>
                                <option >Thrissur</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputZip">City</label>
                      <input type="text" class="form-control" name="city">
                    </div>
                  </div>


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="forPincode">pincode</label>
                    <input type="text" class="form-control" name="pincode">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone">phone</label>
                    <input type="text" class="form-control" name="phone" minlength="10" maxlength="10">
                  </div>
                </div>
                <hr>
                 <div style="margin-left: 73%;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
     
     
     <!-- Breadcrumb Section Begin -->
     <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shopepage">Shop</a>
                            <a href="/cart">cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="container" style="margin-top: 10px;margin-bottom:55px ;" >
        <div class="">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <button type="submit" class="site-btn" data-toggle="modal" data-target="#exampleModalCenter">ADD ADDRESS</button>
                            <!-- <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6> -->

                            <table class="table mt-3 p-3 table-bordered " style="background-color: #f3f2ee;;">
                                <thead>
                                  <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col" style="text-align: center;">Select  Shipping Address</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <%for(var j = 0;j<address.length;j++){%>
                                    <tr>
                                      <th scope="row"><input type="radio"name="address" style="width: 20px;height: 20px; accent-color: black; cursor: pointer;" value="<%=address[j].address._id%>" class="address"></th>
                                      <td><span><b> Name :  </b> <%=address[j].address.firstName%> <%=address[j].address.lastName%>,</span><br>
                                      <span><b> Address :  </b> <%=address[j].address.address %>,<%=address[j].address.city%>,<%=address[j].address.district%>,<%=address[j].address. pincode%>(po),</span><br>
                                      <span><b> Phone :  </b> <%=address[j].address.phone%></span>

                                      </td>
                                     
                                    </tr>
        
                               <% }%>
                                  
                                </tbody>
                              </table>
                            
                              <hr>
                        </div>
                            
                       
                        <div class="col-lg-6 col-md-6">
                          <div class="cart__discount" style="margin-bottom: 25px; margin-left: 0rem;">
                            <h6 style="margin-bottom: 1rem;">Discount codes</h6>
                            <form >
                                <input type="text" placeholder="Coupon code" id="coupon" style="width: 18rem;padding: 0.6rem;">
                                <button type="button" class="btn-dark" id="applyCoupon" style="padding: 0.6rem;width: 7rem;font-weight: 700;">Apply</button>
                            </form>

                            <div style="display: none;" id="errorCoupon">
                              <h5 class="text-danger">invalid coupon</h5>
                            </div>
                        </div>
                        

                            <div class="checkout__order">
                                <table class="table table-bordered ">
                                    <h4 style="font-weight: 800;">Your order</h4>
                                    <thead>
                                      <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">quantity</th>
                                        <th scope="col">price</th>
                                        <th scope="col">subtotal</th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%for(var i = 0;i<product.length;i++ ){%>
                                            <tr>
                                              <th scope="row" class="productId" data-productid="<%=product[i].productDetails._id%>"><%=i+1%></th>
                                              <td><%=product[i].productDetails.productName%></td>
                                              <td class="quantity" data-quantity="<%=product[i].products.quantity%>"><%=product[i].products.quantity%></td>
                                              <td><%=product[i].productDetails.price%></td>
                                              <td><%=product[i].subTotal%></td>
                                            </tr>

                                       <% }%>
                                    </tbody>
                                  </table>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span class=" text-dark" id="total"><%=locals.totalPrice%></span></li>
                                    <li >OfferPrice <span class=" text-dark" id="offerPrice">₹000.00</span></li>
                                    <li>Total <span class=" text-dark" id="grandTotal"><%=locals.totalPrice%></span></li>
                                </ul>
                                <div class="checkout__input__checkbox">
                                    
                                    <input type="radio"name="payment" style="width: 16px;height: 16px; accent-color: black; cursor: pointer;" class="payment" value="cod">
                                   <span class="mt-2">cash on delivery</span> <br>
                                   <input type="checkbox" id="onlinepaymentbtn" style="width: 16px;height: 16px; accent-color: rgb(5, 9, 27); cursor: pointer;"  value="online payment" >
                                   <span class="mt-2">online payments</span> 
                                   
                                   <div class="mt-2" style="display: none;" id="onlinepay">
                                    &nbsp;&nbsp;&nbsp; &nbsp; <input type="radio"name="payment" style="width: 16px;height: 16px; accent-color: black; cursor: pointer;" class="payment" value="razorpay">
                                    <span class="mt-2 ">razorpay</span> 
                                  </div>

                                </div>
                                <button type="submit" class="site-btn" id="placeorder"  >PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



    <script>
      var clicked = true
       document.getElementById('onlinepaymentbtn').addEventListener('click',()=>{
        
         if(clicked){
           document.getElementById('onlinepay').style.display='block'
           clicked=false
         }else{
           document.getElementById('onlinepay').style.display='none'
           clicked=true
         }
     
       })
      
     </script>

    <script>


       document.getElementById('placeorder').addEventListener('click',function(event){
        event.preventDefault()
        console.log("hello");
        placeOrder()
       })
      
         const placeOrder = async ()=>{
          let offerPrice = document.getElementById('offerPrice').innerText
          offerPrice=offerPrice.replace(/,/g,"")
          offerPrice=offerPrice.replace('₹','')
          offerPrice = parseInt(offerPrice)
          let grandTotal = document.getElementById('grandTotal').innerText
          grandTotal=grandTotal.replace(/,/g,"")
          grandTotal=grandTotal.replace('₹','')
          grandTotal = parseInt(grandTotal)

          if(products && addressid && paymentMethod && subtotal){

            var res = await  axios({
           method:"post",
           url:'/place-order',
           data :{products,addressid,paymentMethod,subtotal,offerPrice,grandTotal,couponCode}
        })

          }else{
            window.alert('allfield required')
          }
        
         if(paymentMethod === 'cod'){
          if(res.data.iscouponExist){
          
          Swal.fire({
          position: 'top-end',
           icon: 'success',
          title: 'you get new coupon check your reward page',
         showConfirmButton: false,
          timer: 3000
          })
        }
      
        setTimeout(function(){
          if(res.data.status==='success'){
              console.log(res.data.orderId);
              location.assign(`/order-success?orderId=${res.data.orderId}`)
             } 
        },2500)

        localStorage.removeItem("coupencode")

         }else if(paymentMethod==='razorpay'){

          console.log("",res.data);

          couponCode=localStorage.getItem('coupencode')
          console.log(couponCode);
          razorpayPayment(res.data,couponCode)
      
         }
          
        }
       
        // end of place order




      var addressid
      const addressId = document.querySelectorAll('.address')
      addressId.forEach(function(address){
        address.addEventListener('click',function(){
          addressid=this.value
          console.log(addressid);
        
        })
      })
    

        const productId=[]
        const quantity=[]
        document.querySelectorAll(".productId").forEach(function(product){
          //  console.log(product.dataset.productid);
           productId.push(product.dataset.productid)

        })
        // console.log(productId);

        document.querySelectorAll(".quantity").forEach(function(product){
          //  console.log(product.dataset.quantity);
           quantity.push(Number(product.dataset.quantity))

        })
        // console.log(quantity);


       const products=[] 
        for(var i=0;i<productId.length;i++){
         product= {productId:productId[i],quantity:quantity[i]}
          products.push(product)
        }
        console.log(products);



        
        var paymentMethod
        document.querySelectorAll('.payment').forEach(function(payment){
          payment.addEventListener('click',function(){
          // console.log(this.value);
          paymentMethod=this.value
          console.log(paymentMethod);
        })
        })

        var subtotal = document.querySelector('#total').innerText
        subtotal=subtotal.replace(/,/g,"")
        subtotal=subtotal.replace('₹','')
        subtotal = parseInt(subtotal)
        console.log("subtotal",subtotal);


        var isclicked = false
        var couponCode 
       document.getElementById('applyCoupon').addEventListener('click',function(){
        couponCode  = document.getElementById('coupon').value
           console.log(couponCode);
         if(!isclicked){
           applyCoupon(couponCode)
         }  
       
       
       })
       
       const applyCoupon =async(couponCode)=>{
           console.log("hello");
           const res = await  axios({
           method:"post",
           url:'/apply-coupon',
           data :{couponCode}
        })
        var offerPrice
        var grandTotal
        if(res.data.status ==="success"){
           isclicked=true
           document.getElementById('errorCoupon').style.display='none'
          console.log(res.data.percentage);
          let percentage = res.data.percentage
          let total= document.getElementById('total').innerText
          total=total.replace(/,/g,"")
          total=total.replace('₹','')
          total=Number(total)
          console.log(total);
          offerPrice = (total*percentage)/100
          console.log(offerPrice);
          document.getElementById('offerPrice').innerText=offerPrice.toLocaleString('en-IN',{style:'currency',currency:'INR'})
          grandTotal = total-offerPrice
          console.log(grandTotal);
          document.getElementById('grandTotal').innerText = grandTotal.toLocaleString('en-IN',{style:'currency',currency:'INR'})
          localStorage.setItem('coupencode',couponCode)
        }else{
         
           document.getElementById('errorCoupon').style.display='block'
        }
        console.log(res);
       }
       
               
    </script>



//razorpay

<script>

  const razorpayPayment = (responses,couponCode)=>{

    var options = {
    "key": "rzp_test_VS752rixDIPgT0", // Enter the Key ID generated from the Dashboard
    "amount": responses.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "cycle Hub",
    "description": "Test Transaction",
    // "image": "https://example.com/your_logo",
    "order_id": responses.razorpayId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){

        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

        verifyRazoPayment(response,responses.orderId,responses.amount,couponCode)
    },
    "prefill": {
        "name": responses.userName,
        "email": responses.userEmail,
        "contact": responses.userPhone
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();

  }



  const verifyRazoPayment = async (razorResponse,orderId,amount,couponCode)=>{
    
    try {

      const res = await axios({
      method:'POST',
      url:'/verify-payment',
      data:{razorResponse,orderId,amount,couponCode}
    })
    console.log(res);

    if(res.data.status ==='success'){
      if(res.data.iscouponExist){
        Swal.fire({
          position: 'top-end',
           icon: 'success',
          title: 'you get new coupon check your reward page',
         showConfirmButton: false,
          timer: 3000
          })
      }
      setTimeout(function(){
          console.log(res.data.orderId);
          location.assign(`/order-success?orderId=${res.data.orderId}`)
        },1000)
    
    }else{
      Swal.fire({
          position: 'top-end',
           icon: 'error',
          title: res.data.message,
         showConfirmButton: false,
          timer: 3000
          })

    }

      
    } catch (err) {
      console.log(err);
    }

  }
  
</script>