<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="<%=banner.banners[0]%>">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <!-- <h6>Summer Collection</h6> -->
                            <h2 style="color: aliceblue;"><%=banner.bannerText%></h2>
                            <!-- <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p> -->
                            <a href="/shopepage" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="<%=banner.banners[1]%>">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <!-- <h6>Summer Collection</h6> -->
                            <h2 style="color: aliceblue;"><%=banner.bannerText%></h2>
                            <!-- <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p> -->
                            <a href="/shopepage"  style="text-decoration: none;" class="primary-btn" >Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <%if(locals.brands[0].image){%>
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                       
                        <img src="<%=locals.brands[0].image%>" alt="" width="500">
                     
                    </div>
                    <div class="banner__item__text" style="margin-left: 6rem;">
                        <h2><%=locals.brands[0].brandName%></h2>
                        <a href="/brand-products/<%=locals.brands[0]._id%>">Shop now</a>
                    </div>
                </div>
            </div>
            <%}%>
            <%if(locals.brands[1].image){%>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                     
                        <img src="<%=locals.brands[1].image%>" alt="" width="500">
                        
                    </div>
                    <div class="banner__item__text">
                        <h2><%=locals.brands[1].brandName%></h2>
                        <a href="/brand-products/<%=locals.brands[1]._id%>">Shop now</a>
                    </div>
                </div>
            </div>
            <%}%>
            <%if(locals.brands[2].image){%>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                       
                        <img src="<%=locals.brands[2].image%>" alt="" width="500">
                       
                    </div>
                    <div class="banner__item__text">
                        <h2><%=locals.brands[2].brandName%></h2>
                        <a href="/brand-products/<%=locals.brands[2]._id%>">Shop now</a>
                    </div>
                </div>
            </div>
            <%}%>
            <%if(locals.brands[3].image){%>
            <div class="col-lg-7 ">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        
                            <img src="<%=locals.brands[3].image%>" alt="" width="500">
                    </div>
                    <div class="banner__item__text">
                        <h2><%=locals.brands[3].brandName%></h2>
                        <a href="/brand-products/<%=locals.brands[3]._id%>">Shop now</a>
                    </div>
                </div>
            </div>
            <%}%>

        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li data-filter=".new-arrivals">New Arrivals</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <%for(var i =0;i<newProducts.length;i++){%>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="<%=newProducts[i].images[0]%>">
                        <span class="label">New</span>
                    </div>
                    <div class="product__item__text">
                        <h6><%=newProducts[i].productName%></h6>
                        <a href="/singleProductView/<%=newProducts[i]._id%>" class="add-cart">product View</a>
                        <!-- <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div> -->
                        <h5><%=newProducts[i].price%></h5>
                    </div>
                    <!-- <a href="/add-to-cart/" class="btn btn-dark" id="addtocart" >add to cart</a> -->
                    <%if(newProducts[i].quantity ===0){%>
                        <button  class="btn btn-danger addTocart" data-productid=""><span style="text-decoration: line-through;">Out of stock</span></button>
                    <%}else{%>
                    <button  class="btn btn-dark addTocart" data-productid="<%=newProducts[i]._id%>" data-quantity="<%=newProducts[i]._id%>">add to Cart</button>
                   <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>


<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <!-- <a href="#"><img src="/images/footer-logo.png" alt=""></a> -->
                        <h2 class="text-white" style="font-weight: 900;font-weight: 900;">CYCLE HUB</h2>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="/images/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Cycle Store</a></li>
                        <li><a href="#">City cycles</a></li>
                        <li><a href="#">Mountain cycle</a></li>
                        <li><a href="#">Road Cycle</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <!-- <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="text/javascript">
    document.querySelectorAll('.addTocart').forEach(function(button){
     button.addEventListener('click',function(event){
         event.preventDefault()
         //to prevent default actions
         // console.log("button clicked");
         // console.log(this.dataset.productid);
         addToCart(this.dataset.productid)
 
     })
 
     const addToCart = async(productId)=>{
         try{
            
             const res = await axios({
                 method:'get',
                 url:`/add-to-cart/${productId}`
             })
             console.log(res);
             if(res.data.status==='success'){
                 Toastify({
                     text: res.data.message,
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #00b09b, #96c93d)",
                     },
                 }).showToast()
             }else{
                 // location.assign('/login')
                 Toastify({
                     text: "login to add cart",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: false, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #870000, #190a05);",
                     },
                 }).showToast()
             }
 
         }catch(err){
             console.log(err);
         }
         
     }
    })
    
 </script>
 






    