
<div id="preloder">
    <div class="loader"></div>
</div>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Orders</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/order-list">orders</a>
                        <span>orderDetails</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <!-- <p style="color: black;font-size: 20px;">Invoice <strong>ID: #123-123</strong></p> -->
        </div>
        <!-- <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
        </div> -->
        
      </div>

      <div class="container">
        <!-- <div class="col-md-12">
          <div class="text-center">
            <i class="fa fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
            
          </div>

        </div> -->


        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span style="color:black ;"><%=orders[0].deliveryDetails.firstName%> <%=orders[0].deliveryDetails.lastName%></span></li>
              <li class="text-muted" style="color:black ;"><%=orders[0].deliveryDetails.address%>,<%=orders[0].deliveryDetails.city%></li>
              <li class="text-muted" style="color:black ;"><%=orders[0].deliveryDetails.district%>,<%=orders[0].deliveryDetails.pincode%></li>
              <li class="text-muted" style="color:black ;"><i class="fa fa-phone"></i>+91 <%=orders[0].deliveryDetails.phone%></li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">Invoice</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fa fa-circle" style="color:black ;"></i> <span
                  class="fw-bold">ID:</span><%=orders[0]._id%></li>
              <li class="text-muted" style="color:black ;"><i class="fa fa-circle" style="color:black ;"></i> <span
                  class="fw-bold">Date:<%=orders[0].date%> </span></li>
              <li class="text-muted"><i class="fa fa-circle" style="color:black ;"></i> <span
                  class="me-1 fw-bold">Status:<%=orders[0].status%></li>
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">INDEX</th>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QTY</th>
                    <th scope="col">UNIT PRICE</th>
                    <th scope="col">Total</th>
                    <th scope="col">IMAGES</th>
                  </tr>
                </thead>
                <tbody>
                    <%for(var i =0;i<orders.length;i++){%>
                        <tr>
                            <th><%=i+1%></th>
                            <td><b><%=orders[i].productDetails.productName%></b></td>
                            <td><b><%=orders[i].products.quantity%></b></td>
                            <td><b><%=orders[i].productDetails.price%></b></td>
                            <td><b><%=orders[i].subtotal%></b></td>
                            <td><img src="<%=orders[i].productDetails.images[0]%>" width="100px"></td>
                           
                        </tr>
                    <% }%>
            </table>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <!-- <p class="ms-3">Add additional notes and payment information</p> -->

          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <!-- <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$1110</li> -->
              <!-- <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>$111</li> -->
            </ul>
            <p class="text-black float-start "style="margin-left: -3rem;"><span class="text-black me-3" style="font-weight: 800; font-size: larger;"> Total Amount</span><span
              style="font-size: 18px; font-weight: 700;"> : <%=locals.total%></span></p>
            <p class="text-black float-start "style="margin-left: -3rem;"><span class="text-black me-3" style="font-weight: 800; font-size: larger;"> Offer Price</span><span
              style="font-size: 18px; font-weight: 700;"> : <%=orders[0].offerPrice%></span></p>
            <p class="text-black float-start "style="margin-left: -3rem;"><span class="text-black me-3" style="font-weight: 800; font-size: larger;"> Grand Total</span><span
                style="font-size:18px;font-weight: 700;"> : <%=orders[0].grandTotal%></span></p>
          </div>
        </div>
       
        <div class="row">
          <div class="col-xl-10">
            <p>Thank you for your purchase</p>
          </div>
          <div class="col-xl-2">
            <!-- <button type="button" class="btn btn-primary text-capitalize"
              style="background-color:#60bdf3 ;">Pay Now</button> -->
          </div>
        </div>


        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="continue__btn">
                  <a href="/shopepage" style="list-style-type: none;" class="continueBtn">Continue Shopping</a>
              </div>
          </div>
        
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="continue__btn update__btn">
                  <a href="/order-list"></i>Order List</a>
              </div>
          </div>
        
        </div>

      </div>
    </div>
  </div>
</div>



</section>

