<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
 <style>
    .whish{
        background-color: rgb(133, 219, 133);
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 200px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropOptions {
    border-radius: 6px;
    padding: 6px;
    width: 100px;
    background-color: #ffffff;
    border: solid 1px #525260;
    color: white;
    }
    .page{
        color: green;
    }
   
 </style>
 
 <!-- Page Preloder -->
 <div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin
<div>
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
        <a href="#"><img src="/images/icon/heart.png" alt=""></a>
        <a href="#"><img src="/images/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
</div> -->
<!-- Offcanvas Menu End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form>
                            <input type="text" placeholder="Search..." id="searchProduct">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <%for(var i=0;i<category.length;i++){%>
                                                    <li><a href="/categoryProducts?categoryId=<%=category[i]._id%>"><%=category[i].categoryName%></a></li>
                                                    <%}%>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Brands</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <%for(var i=0;i<brands.length;i++) {%>
                                                    <li><a href="/brandProducts?brandId=<%= brands[i]._id%>"><%=brands[i].brandName%></a></li>
                                                <%}%>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <!-- <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div> -->
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6">
                          
                                <!-- <p>Sort by Price:</p> -->
            
                                <!-- <select id="filterPrice">
                                    <option value="">Low To High</option>
                                    <option value="10000" >₹0 - ₹10,000</option>
                                    <option value="25000">₹10,000 - ₹25,000</option>
                                    <option value="50000" >₹25,000 - ₹50,000</option>
                                    <option value="100000" >₹50,000 - ₹1,00,000</option>
                                    <option value="200000" >1,00,000 - ₹2,00,000</option>

                                </select> -->
                                <span style="font-weight: 900;">Filter :</span>

                                <div class="dropdown">
                                <button class="dropOptions text-dark" style="width: 168%; border: none; font-weight: 700;" id="dropBtn"><%=locals.sortMessage%></button>
                                    <div class="dropdown-content p-3 bg-white text-dark">
                                        <a  class="text-dark priceFilter" style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" data-price="10000" >₹0 - ₹10,000</a><hr style="border: solid 1px #1e1e2f ;">
                                        <a  class="text-dark priceFilter" style="font-weight:500;margin-bottom: 1rem;cursor: pointer;"  data-price="25000">₹10,000 - ₹25,000</a><hr style="border: solid 1px #1e1e2f ;">
                                        <a  class="text-dark priceFilter" style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" data-price="50000" >"₹25,000 - ₹50,000</a><hr style="border: solid 1px #1e1e2f ;">
                                        <a  class="text-dark priceFilter" style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" data-price="100000" >₹50,000 - ₹1,00,000</a><hr style="border: solid 1px #1e1e2f ;">
                                        <a  class="text-dark priceFilter" style="font-weight:500;margin-bottom: 1rem;cursor: pointer;" data-price="200000">1,00,000 - ₹2,00,000</a><hr style="border: solid 1px #1e1e2f ;">
                                    </div>
                                </div>  


                        </div>
                    </div>
                </div>
                <div class="row">



                    <%for(var i=0;i<products.length;i++){%>

                        

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%=products[i].images[0]%>">
                                <ul class="product__hover">
                                    <li><a class="whishList" data-productid="<%=products[i]._id%>" data-userid="<%=locals.userId%>"><img src="/images/icon/heart.png" alt="" class="whish"   data-productid="<%=products[i]._id%>" 
                                        id="<%=products[i]._id%><%=locals.userId%>" data-userid="<%=locals.userId%>"></a></li>
                                    <li><a href="#"><img src="/images/icon/compare.png" alt=""> <span>Compare</span></a>
                                    </li>
                                    <li><a href="/singleProductView/<%=products[i]._id%>"><img src="/images/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><%=products[i].productName%></h6>
                                <a href="/singleProductView/<%=products[i]._id%>" class="add-cart">product View</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5><%=products[i].price%></h5>
                                <!-- <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div> -->
                            </div>
                            <!-- <a href="/add-to-cart/" class="btn btn-dark" id="addtocart" >add to cart</a> -->
                            <%if(products[i].quantity ===0){%>
                                <button  class="btn btn-danger addTocart" data-productid=""><span style="text-decoration: line-through;">Out of stock</span></button>
                            <%}else{%>
                            <button  class="btn btn-dark addTocart" data-productid="<%=products[i]._id%>" data-quantity="<%=products[i]._id%>">add to Cart</button>
                           <%}%>
                        </div>
                    </div>
                    <%}%>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                           
                                <%if(currentPage > 1){%>
                                    <a  href="?page=<%=currentPage-1%>">   
                                        <span class="glyphicon glyphicon-chevron-left"></span> 
                                     </a>

                              <%}%>

                          
                                <%for(var i = 1;i<=totalPage;i++){%>
                                     <a href="?page=<%=i%>" class="<%=i===currentPage ? 'active' : '' %>"><%=i%></a>
                                <%}%>

                                <%if(currentPage < totalPage){%>
                                  <a  href="?page=<%=currentPage+1%>">   
                                    <span class="glyphicon glyphicon-chevron-right"></span> 
                                   </a>
                               <% }%>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <!-- <a href="#"><img src="/images/footer-logo.png" alt=""></a> -->
                        <h2 class="text-white" style="font-weight: 900;font-weight: 900;">CYCLE HUB</h2>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="/images/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Cycle Store</a></li>
                        <li><a href="#">City cycles</a></li>
                        <li><a href="#">Mountain cycle</a></li>
                        <li><a href="#">Road Cycle</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <!-- <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


  <!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>



<script type="text/javascript">
   document.querySelectorAll('.addTocart').forEach(function(button){
    button.addEventListener('click',function(event){
        event.preventDefault()
        //to prevent default actions
        // console.log("button clicked");
        // console.log(this.dataset.productid);
        addToCart(this.dataset.productid)

    })

    const addToCart = async(productId)=>{

        try{
            console.log(productId);
            const res = await axios({
                method:'get',
                url:`/add-to-cart/${productId}`
            })
            
            if(res.data.status==='success'){
                Toastify({
                    text: res.data.message,
                    duration: 3000,
                    // close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: false, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                }).showToast()
            }else if (res.data.status==="failed"){
                Toastify({
                    text: "out of stock",
                    duration: 3000,
                    // close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    stopOnFocus: false, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #870000, #190a05);",
                    },
                }).showToast()

            }else{
                // location.assign('/login')
                Toastify({
                    text: "login to add cart",
                    duration: 3000,
                    // close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    stopOnFocus: false, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #870000, #190a05);",
                    },
                }).showToast()
            }

        }catch(err){
            console.log(err);
        }
        
    }
   })
   
</script>

<script>
     document.querySelectorAll('.whish').forEach(function(whish){
        const color = localStorage.getItem(whish.dataset.productid+whish.dataset.userid)
        document.getElementById(whish.dataset.productid+whish.dataset.userid).style.backgroundColor =color
     })
    

    document.querySelectorAll('.whishList').forEach(function(whishBtn){
        whishBtn.addEventListener('click',function(event){
            event.preventDefault()
            console.log(this.dataset.productid);
            addToWhisList(this.dataset.productid,this.dataset.userid)
        })
    })

    const addToWhisList = async(productId,userId)=>{
        try{

            const res= await axios({
                method:'post',
                url:'/add-to-whishlist',
                data:{productId}
            })
        console.log(res);
        if(res.data.status==='added'){
            document.getElementById(productId+userId).style.backgroundColor='#5CDDAB'
            localStorage.setItem(productId+userId,'#5CDDAB')
            Toastify({
                    text: "product added to whishList",
                    duration: 3000,
                    // close: true,
                    gravity: "top", 
                    position: "center", 
                    stopOnFocus: true, 
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                }).showToast()
        }else{
            document.getElementById(productId+userId).style.backgroundColor='white'  
            localStorage.setItem(productId+userId,'white')
            Toastify({
                    text: "product removed from whishList",
                    duration: 3000,
                    // close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "red",
                    },
                }).showToast()
        }

        }catch(err){
            console.log(err);
        }

    }
</script>


<script>
    document.querySelectorAll('.priceFilter').forEach(function(priceFilter){
        priceFilter.addEventListener('click',function(e){
            e.preventDefault()
            const selectPrice = priceFilter.innerText
            document.getElementById('dropBtn').innerText=selectPrice
            sortUsingPrice(priceFilter.dataset.price)
           

        })
    })
   

    const sortUsingPrice = async (maxPrice)=>{
        var minPrice = 0
        maxPrice=parseInt(maxPrice)
        if(maxPrice===200000){
            minPrice=100000
           
            
        }else if(maxPrice===100000){
            minPrice=50000
          
        }else if(maxPrice===50000){
            minPrice=25000
           
        }else if(maxPrice ===25000){
            minPrice=10000
           
        }else{
            minPrice=0
           
        }


       location.assign(`/shopepage?minPrice=${minPrice}&maxPrice=${maxPrice}`)
        
    }
  </script>

  <script>
    $(document).ready(function(){
        $('#searchProduct').blur(function(){
          var  searchKey = $('#searchProduct').val()
         location.assign(`/shopepage?q=${searchKey}`) 
        })
    })
    
  </script>




